<div class="card bg-light">
    <div class="card-body">
        <h5 class="card-title text-center">Agregar Cita</h5>
        <div class="form-group mb-3">
            <label for="nombre" class="mb-1">Nombre</label>
            <input id="nombre" type="text" class="form-control" placeholder="Ingrese su nombre">
        </div>
        <div class="form-group mb-3">
            <label for="fecha" class="mb-1">Fecha</label>
            <input id="fecha" type="date" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label for="hora" class="mb-1">Hora</label>
            <input id="hora" type="time" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label for="sintomas" class="mb-1">Síntoma</label>
            <textarea class="form-control" id="sintomas"  rows="3" placeholder="Ingrese los síntomas"></textarea>
        </div>
        <button style="width: 100%" class="btn btn-primary btn-clock">Agregar Cita</button>
    </div>
</div>